<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Forecast Form</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.ticker.label }} {{ form.ticker(size=5) }}
            </div>
            <div class="form-group">
                {{ form.time_step.label }} {{ form.time_step() }}
            </div>
            <div class="form-group">
                {{ form.predict_option.label }} {{ form.predict_option() }}
            </div>
            <div class="form-group">
                {{ form.methods.label }} {{ form.methods() }}
            </div>
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
